.cartWidget {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 75px;
    position: relative;
    background-color: lightblue;
}

.cartIcon {
    font-size: 1.5rem;
}
